#form {
  padding-left: 100px;
  padding-right: 100px;
}
#otsikko {
  padding: 20px;
}
.form-control,
.form-label {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  color: white;
}

.myLink {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.welcome-text {
  text-align: center;
  margin-bottom: 20px;
}
.discussion-card {
  background-color: #e6e6e6;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.discussion-card h2 {
  margin-top: 0;
}
.discussion-card p {
  margin-bottom: 0;
}
.discussion-link {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}
